<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alteração de sua senha. Você pode alterar sua senha clicando no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou alteração de senha, por favor ignore este e-mail.<p>
<p>Sua senha não mudar, até que você acesse o link acima e realize a alteração.<p>
